# Jupyter notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Stored data
*.csv
*.parquet
*.xls
*.zip

# Temp
*.tmp

# Pip envs
venv/*
venv

# Numba cache
*/__pycache__/*
*__pycache__
*.pyc
